:root {
--my-primary-col : #a12aa3;
--my-secondary-col: #a32a68;
--my-tertiary-col: #642aa3;
}

.navbar {
    /*background-color: rgb(162, 42, 164);*/
}
.navbar a {
    color: var(--my-primary-col);
}

h1, h2, h3, h4, h5 {
    color: var(--my-primary-col);
}

a {
    text-decoration: none;
    color: var(--my-tertiary-col);
}

a:hover {
    color: var(--my-secondary-col)
}

.nav {
    --bs-nav-link-hover-color: var(--my-secondary-col);
}
.nav-pills {
	--bs-nav-pills-border-radius: 0.375rem;
	--bs-nav-pills-link-active-color: #fff;
	--bs-nav-pills-link-active-bg: var(--my-primary-col);
    
}

#name-cursive {
    font-family: brush script mt;
    font-size: 3em;
    color: var(--my-primary-col);
}

.progress-lables{
    padding-top: 5px;
    margin-bottom: 0%;
}


.my-box {
    border-radius: 0.5rem;
    box-shadow: 2px 2px 8px var(--my-primary-col);
    border-color: black;
    border-style:hidden;
    margin-bottom: 2rem;
}

.my-image {
    border-radius: 0.5rem;
    border-color: var(--my-primary-col);
    border-style: solid;
    border-width: 0.1rem;
    box-shadow: 1px 1px 3px var(--my-primary-col);
    margin-bottom: 0.5rem;
}

#portrait {
    border-radius: 50%;
}
.progress-bar {
    background-color: var(--my-primary-col);
}

.my-form-item {
    width: 100%;
    height: 2.5rem;
    border-color: lightgrey;
    border-radius: 0.2rem;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 1rem;
    
}

.my-anchor-link {
    text-decoration: none;
    color: var(--my-primary-col);
}

pre code {
    background-color: black;
    border-radius: 0.5rem;
    color: azure ;
    display: inline-block ;
    padding: 1rem;
}
.footer {
    background-color: var(--my-primary-col);
    padding: 1rem;
    color: azure;
}

footer p {
    font-size: 0.8rem;
}

.footer a {
    color: azure;
    text-decoration: none;
}


