:root {
--my-purple :rgb(162, 42, 164);
--my-gray: rgb(94, 94, 94);
}

.navbar {
    /*background-color: rgb(162, 42, 164);*/
}
.navbar a {
    color: var(--my-purple);
}

h1, h2, h3, h4, h5 {
    color: var(--my-purple);
}

.nav {
    --bs-nav-link-hover-color: var(--my-gray);
}
.nav-pills {
	--bs-nav-pills-border-radius: 0.375rem;
	--bs-nav-pills-link-active-color: #fff;
	--bs-nav-pills-link-active-bg: var(--my-purple);
    
}

.my-box {
    border-radius: 0.5em;
    box-shadow: 2px 2px 8px var(--my-purple);
    border-color: black;
    border-style:hidden;
    margin-bottom: 2em;
}

.my-image {
    border-radius: 0.5em;
    border-color: var(--my-purple);
    border-style: solid;
    border-width: 0.1em;
    box-shadow: 1px 1px 3px var(--my-purple);
}
.progress-bar {
    background-color: var(--my-purple);
}

.my-form-item {
    width: 100%;
    height: 2.5rem;
    border-color: lightgrey;
    border-radius: 0.2em;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 1em;
    
}

.my-anchor-link {
    text-decoration: none;
    color: var(--my-purple);
}

.footer {
    background-color: var(--my-purple);
    padding: 1em;
    color: azure;
}

.footer a {
    color: azure;
    text-decoration: none;
}


